<div class="p-mv">
    <div class="inner">
         <h1 class="t titleEN js-inter fadeInUp">
            <%- include('../svg/_mv-wedding.svg') %>
         </h1>
         <span class="n js-inter fadeInUp">Kazu & Miho</span>
         <!-- <span class="d js-inter fadeInUp">2021.09.26.Sun</span> -->
    </div>
    <span class="image"></span>
    <a class="arrow" href="#message">
        <span></span>
    </a>
</div>

<div class="p-news" id="news">
    <div class="header">
        <h2 class="t titleEN js-inter fadeInUp">MESSAGE</h2>
    </div>
    <div class="body">
    <p>謹啓</p>
    <p><br>盛夏の候　皆様にはますますご清祥の事とお慶び申し上げます<br><br>さて　このたび私たちの婚礼に際しましてはご祝福をいただき誠にありがとうございます<br>
    <br>連日のように報道されております新型コロナウイルスに関して不安を募らせ過ごされていることと存じます<br>
    <br>新型コロナウイルスの感染拡大に伴い　皆様の健康と安全を考えた結果　甚だ勝手ではございますが　10月18日に予定しておりました私どもの挙式の日程を再度延期させていただくことといたしました<br>
    <br>ご多用の中ご出席を予定してくださっていた皆様にはご迷惑とご心配をおかけして誠に申し訳ございませんが　何卒ご寛容賜りますようお願い申し上げます<br>
    <br>なお　予定といたしましては　2021年9月頃にと考えておりますが　日程が決まりましたらまた改めてご連絡いたしますので　その折にはぜひご臨席いただけますと幸いです<br><br>このような状況ではございますが　くれぐれもご自愛のほどお祈り申し上げます</p>
    <p class="end">謹白</p>
    </div>
    <a class="arrow" href="#profile">
        <span></span>
    </a>
</div>
<!--
<div class="p-msg" id="message">
    <div class="header">
        <h2 class="t titleEN js-inter fadeInUp">MESSAGE</h2>
    </div>
    <div class="body">
        <p class="js-inter fadeInUp">拝啓 初春の候</p>
        <p class="js-inter fadeInUp">皆様には益々ご清祥のこととお慶び申し上げます</p>
        <p class="js-inter fadeInUp">私たちは2019年5月10日に入籍いたしました</p>
        <p class="js-inter fadeInUp">つきましては日ごろお世話になっております皆様に</p>
        <p class="js-inter fadeInUp">感謝の気持ちを込めて</p>
        <p class="js-inter fadeInUp">ささやかではございますが披露宴を催したく存じます</p>
        <p class="js-inter fadeInUp">ご多用中 誠に恐縮ではございますが</p>
        <p class="js-inter fadeInUp">ご光臨賜りますよう謹んでお願い申し上げます</p>
        <p class="js-inter fadeInUp">謹白</p>
    </div>
    <a class="arrow" href="#profile">
        <span></span>
    </a>
</div>
-->

<!--
<div class="p-profile" id="profile">
    <div class="header">
        <h2 class="t titleEN js-inter fadeInUp">PROFILE</h2>
    </div>
    <div class="body">
        <ul class="p-profile__list">
            <li class="p-profile__item">
                <img class="image is-pc js-inter fadeInUp" src="<%- PATH.image %>/common/kazu-pc.jpg" alt="">
                <img class="image is-sp js-inter fadeInUp" src="<%- PATH.image %>/common/kazu-sp.jpg" alt="">
                <div class="name js-inter fadeInUp">
                    <span>ごとう ひろかず</span>
                    <span>後藤 寛一</span>
                </div>
                <p class="profile js-inter fadeInUp">
                    1989.12.9<br>
                    北海道札幌市<br>
                    エンジニア<br>
                    映画観賞(エグらない系)
                </p>
            </li>
            <li class="p-profile__item js-inter fadeInUp">
                <img class="image is-pc js-inter fadeInUp" src="<%- PATH.image %>/common/miho-pc.jpg" alt="">
                <img class="image is-sp js-inter fadeInUp" src="<%- PATH.image %>/common/miho-sp.jpg" alt="">
                <div class="name js-inter fadeInUp">
                    <span>ごとう みほ</span>
                    <span>後藤 美帆<span>(旧姓:橋ケ谷)</span></span>
                </div>
                <p class="profile js-inter fadeInUp">
                    1988.6.22<br>
                    静岡県焼津市<br>
                    事務 兼 歯科受付、助手<br>
                    映画鑑賞(エグる系)
                </p>
            </li>
        </ul>
    </div>
    <a class="arrow" href="#information">
        <span></span>
    </a>
</div>
-->

<div class="p-info" id="profile">
    <div class="header">
        <h2 class="t titleEN js-inter fadeInUp">INFORMATION</h2>
    </div>
    <div class="body">
        <ul class="p-info__list">
            <li class="p-info__item js-inter fadeInUp">
                <div class="t">挙式</div>
                <div class="inner">
                    <!--
                    <div class="item">
                        <div class="l">受付時間</div>
                        <div class="r">午後12時50分</div>
                    </div>
                    <div class="item">
                        <div class="l">開始時間</div>
                        <div class="r">午後1時</div>
                    </div>
                    -->
                    <div class="item">
                        <div class="l">会場</div>
                        <div class="r">南青山ル・アンジェ教会<br>03-3402-7222<br>東京都港区南青山3丁目14-23<a href="#reservation">お着付・ヘアセットのご案内はこちら</a></div>
                    </div>
                    <div class="item">
                        <div class="l">アクセス</div>
                        <div class="r">地下鉄表参道駅A4出口より徒歩3分<a href="https://www.google.com/maps/place/%E5%8D%97%E9%9D%92%E5%B1%B1%E3%83%AB%E3%83%BB%E3%82%A2%E3%83%B3%E3%82%B8%E3%82%A7%E6%95%99%E4%BC%9A/@35.6652277,139.7122712,17z/data=!3m1!4b1!4m5!3m4!1s0x60188b602ddca47b:0xff01cb83537d2884!8m2!3d35.6652234!4d139.7144599" target="_blank">GoogleMapはこちら</a></div>
                    </div>
                </div>
            </li>
            <li class="p-info__item js-inter fadeInUp">
                <div class="t">披露宴</div>
                <div class="inner">
                    <!--
                    <div class="item">
                        <div class="l">受付時間</div>
                        <div class="r">午後3時</div>
                    </div>
                    <div class="item">
                        <div class="l">開始時間</div>
                        <div class="r">午後3時30分</div>
                    </div>
                    -->
                    <div class="item">
                        <div class="l">会場</div>
                        <div class="r">リストランテ・ベニーレベニーレ<br>03-5775-5333<br>東京都渋谷区神宮前4丁目31-10<br>YMスクウェア原宿5F</div>
                    </div>
                    <div class="item">
                        <div class="l">アクセス</div>
                        <div class="r">JR原宿駅より徒歩5分<br>東京メトロ副都心線・千代田線<br>明治神宮前駅5番出口より徒歩1分<br><a href="https://www.google.com/maps/place/%E3%83%AA%E3%82%B9%E3%83%88%E3%83%A9%E3%83%B3%E3%83%86+%E3%83%99%E3%83%8B%E3%83%BC%E3%83%AC%E3%83%99%E3%83%8B%E3%83%BC%E3%83%AC%E8%A1%A8%E5%8F%82%E9%81%93%E5%8E%9F%E5%AE%BF/@35.6690725,139.7039532,17z/data=!3m1!4b1!4m5!3m4!1s0x60188ca481529de3:0xf96a96c8159a2b9f!8m2!3d35.6690682!4d139.7061419" target="_blank">GoogleMapはこちら</a></div>
                    </div>
                </div>
            </li>
            <%- include('../svg/_arrow-crn.svg') %>
        </ul>
        <div class="p-info__map">
            <div class="map js-inter fadeInUp" id="js-map"></div>
        </div>
        <!--
        <div class="p-info__guide">
            <ul class="p-info__guide-list">
                <li class="p-info__guide-item js-inter fadeInUp">
                    <div class="t">ご列席の皆様へ</div>
                    <p class="text">教会・レストランには駐車場のご用意がございません<br>また 教会前道路は私道のため行き止まりになりますので<br>恐れ入りますがお車でのご来館はお控えくださいませ<br>公共の交通機関をご利用くださいますよう<br class="is-sp">お願い申し上げます</p>
                </li>
                <li class="p-info__guide-item js-inter fadeInUp" id="reservation">
                    <div class="t">美容着付のご案内</div>
                    <p class="text">お着付・ヘアセットの料金</p>
                    <ul>
                        <li class="item">
                            <div class="l">留袖着付</div>
                            <div class="r">¥8,000 + 税</div>
                        </li>
                        <li class="item">
                            <div class="l">振袖着付</div>
                            <div class="r">¥12,000 + 税</div>
                        </li>
                        <li class="item">
                            <div class="l">ヘアセット(アップ)</div>
                            <div class="r">¥6,000 + 税</div>
                        </li>
                        <li class="item">
                            <div class="l">ヘアセット(ダウン)</div>
                            <div class="r">¥4,000 + 税</div>
                        </li>
                        <li class="item">
                            <div class="l">メイク(フル)</div>
                            <div class="r">¥5,000 + 税</div>
                        </li>
                        <li class="item">
                            <div class="l">メイク(ポイント)</div>
                            <div class="r">¥3,000 + 税</div>
                        </li>
                    </ul>
                    <p>ご予約・ご質問は下記に直接お問い合わせください</p>
                    <p>南青山ル・アンジェ教会コンシェルジュ<br>Tel.03-5411-2722<br>Open.10:00-19:00<br>火曜定休</p>
                </li>
            </ul>
        </div>
        <div class="p-info__contact">
            <p class="js-inter fadeInUp">お手数ながらご都合の程を<br>3月4日までにご一報賜りますよう<br>お願い申し上げます</p>
            <a class="btn js-inter fadeInUp" target="_blank" href="https://forms.gle/3o43iAGo1Uw9wCCR8">招待状に回答する</a>
        </div>
        -->
    </div>
</div>