<head>
    <meta name=”robots” content=”noindex”>
    <meta charset="utf-8">
    <script>
    var ua = navigator.userAgent;
    var mobile = ua.indexOf('iPhone') > 0 || ua.indexOf('Android') > 0 && ua.indexOf('Mobile') > 0;
    var tablet = ua.indexOf('iPad') > 0 || ua.indexOf('Android') > 0;
    if (!mobile && tablet) {
        document.write('<meta name="viewport" content="width=1280">');
    } else {
        document.write('<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">');
    }
    </script>
    <meta name="description" content="<%- SITE_DATA.description %>">
    <meta name="Keywords" content="" />
    <meta name="language" content="ja">
    <title>Welcome 510 Wedding</title>
    <meta property="og:locale" content="ja_JP">
    <meta property="og:title" content="<%- SITE_DATA.title %>">
    <meta property="og:description" content="<%- SITE_DATA.description %>">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="<%- SITE_DATA.title %>">
    <meta property="og:type" content="website">
    <meta property="og:image" content="<%- PATH.image %>/common/ogp/ogp.jpg">
    <link rel="stylesheet" href="<%- PATH.root %>css/style.css">
</head>
